@page "/wardrobeitems"
@inject WardrobeItemService WardrobeItemService

<h3>Wardrobe Items</h3>

<ul>
    @foreach (var item in wardrobeItems)
    {
        <li>
            <img src="@(item.ImagePath)" alt="Item Image" />
            <p>@item.Name | @item.Colour | @item.Size | @item.Material</p>
        </li>
    }
</ul>

@code {
    private IReadOnlyList<WardrobeItemDto> wardrobeItems = [];

    protected override async Task OnInitializedAsync()
    {
        var response = await WardrobeItemService.GetWardrobeItems();
        wardrobeItems = response.WardrobeItems ?? [];
    }
}
