@page "/"
@inject WardrobeItemService WardrobeItemService

<PageTitle>Wardrobe Inventory</PageTitle>

<table>
    <tbody>
        @foreach (var item in wardrobeItems)
        {
            <tr>
                <td class="col-1">
                    <img class="rounded img-thumbnail" src="@(item.ImagePath)" alt="Item Image" />
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Colour?.GetDisplayName()
                </td>
                <td>
                    @item.Size?.GetDisplayName()
                </td>
                <td>
                    @item.Material?.GetDisplayName()
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private IReadOnlyList<WardrobeItemDto> wardrobeItems = [];

    protected override async Task OnInitializedAsync()
    {
        var response = await WardrobeItemService.GetWardrobeItems();
        wardrobeItems = response.WardrobeItems ?? [];
    }
}
